main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(10, 80vw);
	grid-template-rows: 1fr;
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
	overflow: scroll;

  background-color: white;
	height: 70vh;
  padding: 2rem;

	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
  object-fit: scale-down;
  cursor: pointer;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.active {
	scroll-snap-type: unset;
}

.carousel {
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 3px;
	font-size: 0;
}

#photo1 {
    background-image:url("./../assets/womanStrongBianca2.jpg");
    background-size: cover;
    height: 100%;
    width: 100%
}

#photo2 {
    background-image:url("./../assets/womanStrong.jpg");
    background-size: cover;
   
    object-fit: scale-down;
}

#photo3 {
  background-image:url("./../assets/wildAnt.png");
  background-size: cover;
  height: 100%;
  width: 100%
}

#photo4 {
    background-image:url("./../assets/womanToTheMoonAndBack.JPG");
    background-size: cover;
    height: 100%;
    width: 100%
}

#photo5 {
  background-image:url("./../assets/abTheseTimes.png");
  background-size: cover;
  height: 100%;
  width: 100%
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.h1 {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 30px;
  background-color: #EDEDE9;
}

.imageDiv {
  display: block;
  width: 100%;
  overflow-y: auto;
  /* overflow:auto; */
  padding: 40px 40px;
  background-color: #EDEDE9;
  cursor: pointer;
  object-fit: contain;
}

.imageDiv::-webkit-scrollbar {
  display: none;
}

.imageSlider {
  display: block; 
  white-space: nowrap; 
}

.imageScroller {
  display: inline-block;
  padding-right: 40px;
}

.imageScroller img {
  width: 250px; 
  max-height: 300px;
  min-height: 300px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 2.1px;
  padding-top: 25px;  
}

p {
  letter-spacing: 0px;
  padding-top: 25px;
}

form {
  position: relative;
  font-family: Arial;
  padding: 20px;
  background-color: #f5ebe0;
}

.newsLetterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.newsLetter {
  background-color: white;
}


input[type=text] {

  padding: 12px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  font-size: 15px;
  padding: 12px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-weight: bold;
  letter-spacing: 2.1px;
}

input[type=submit] {
  background-color: #d5bdaf; 
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
  cursor: pointer;
}


.none {
  display: none;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 50px; 

}

.textContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2.1px;
  line-height: 1;
  padding-top: 30px;
}

.textAbout {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  margin: 20px;
}

.imageAbout {
  width: 60%;
  height: auto;
  max-height: 30em;
  object-fit: cover;
  margin: 25px;
  border-radius: 100em;
  flex-wrap: nowrap;
  box-shadow: 11px 6px 5px #d5bdaf;
  
}

.TextAbout {
  display: flex;
  flex-direction: row;

}

@media screen and (max-width:1050px) {
  .gallery {
    height: 65vh;
  }

  .imageScroller img {
    width: 200px; 
    max-height: 250px;
    min-height: 250px;
  }

}

@media screen and (max-width:800px) {

  .gallery {
    padding-bottom: 2rem;
    height: 45vh;
  }

  .textContainer {
    flex-direction: column;
  }

/*   .imageScroller img {
    width: 200px; 
    max-height: 200px;
    min-height: 200px;
  }
 */
}

@media screen and (max-width:760px) { 
  .textContainer {
    flex-direction: column;
  }

  .newsTitle {
    font-size: 20px;
  }
  .litleTitle {
    font-size: 15px;
  }

}


@media screen and (max-width:700px) {
  #photo1 {
    background-image:url("./../assets/womanEveryoneKnowsThePrice.JPG");
    background-size: cover;
    height: 100%;
    width: 100%
}

}

@media screen and (max-width:660px) { 
  
  .newsTitle {
    font-size: 15px;
    flex-wrap: wrap;
    text-align: center;
  }
  .litleTitle {
    font-size: 10px;
    flex-wrap: wrap;
    text-align: center;
  }


}



/* smartphones, Android phones, landscape iPhone */
@media screen and (max-width: 540px) { 
 
  .textAbout {
    font-size: 10px;
  }
  .litleTitle {
    font-size: 10px;
  }

  .newsLetterContainer {
    flex-direction: column;
  }

}



@media screen and (max-width:380px) {
  

  
  .imageScroller img { 
    max-height: 200px;
    min-height: 200px;
  }
     
}