
main {
/*   margin-top: 140px; */
  height: 100vh;
  display: flex;

 /*  flex-direction: column; */
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 30px;
}


/* News image section */

.h1 {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding-top: 30px;
  background-color: #EDEDE9;
}

.imageDiv {
  display: block;
  width: 100%;
  overflow-y: auto;
  /* overflow:auto; */
  padding: 40px 40px;
  background-color: #EDEDE9;
  cursor: pointer;
}

/* Funkar bara på mobil-siter*/
.imageDiv::-webkit-scrollbar {
  display: none;
}

.imageSlider {
  display: block; 
  white-space: nowrap; 
}

.imageScroller {
  display: inline-block;
  margin-right: 40px;
}

.imageScroller img {
  width: 250px; 
  max-height: 300px;
  min-height: 300px;
}

/* Hero-carousel */

.gallery {
	padding: 1rem;
	display: grid;
    background-color: white;
	grid-template-columns: repeat(10, 80vw);
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
	grid-row-gap: 1rem;
	overflow: scroll;
	height: 70vh;
   
	scroll-snap-type: both mandatory;
	scroll-padding: 1rem;
  object-fit: scale-down;
  cursor: pointer;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.active {
	scroll-snap-type: unset;
}

.carousel {
	scroll-snap-align: center;
	display: inline-block;
	border-radius: 3px;
	font-size: 0;
}

#photo1 {
    background-image:url("./../assets/abKnowledge.jpg");
    background-size: cover;
    height: 100%;
    width: 100%
}

#photo2 {
    background-image:url("./../assets/womanStrongBianca2.jpg");
    background-size: cover;
   
    object-fit: scale-down;
}

#photo3 {
    background-image:url("./../assets/figSometimesIFeelTransparent.jpg");
    background-size: cover;
    height: 100%;
    width: 100%
}

#photo4 {
    background-image:url("./../assets/wildCountryDreams.png");
    background-size: cover;
    height: 100%;
    width: 100%
}

#photo5 {
    background-image:url("./../assets/figDylan.JPG");
    background-size: cover;
    height: 100%;
    width: 100%
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* Style for Newsletter */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  letter-spacing: 2.1px;
  padding-top: 25px; 
  
}
p {
  letter-spacing: 0px;
  padding-top: 25px;
}

form {
  position: relative;
  font-family: Arial;
  padding: 20px;
  background-color: #f5ebe0;
}

.newsLetterContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.newsLetter {
  padding: 2px;
  background-color: white;
}


input[type=text] {
  width: 20%;
  padding: 12px;
  margin: 8px 10px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  width: 10%;
  padding: 12px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-weight: bold;
  letter-spacing: 2.1px;
}

input[type=submit] {
  background-color: #d5bdaf; 
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
  cursor: pointer;
}


.none {
  display: none;
}
/* End of Style for Newsletter */ 